* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000000;
}

.clock {
    font-size: 230px;
    font-family: fantasy, 'Agency FB', Arial, Helvetica, sans-serif;
    color: #ffffff;
    cursor: pointer;
}

@media (max-width: 480px) {
    .clock {
        font-size: 150px;
    }
}