* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #333333;
}

.clock {
    font-size: 230px;
    font-family: fantasy;
    color: #ffffff;
}